@font-face {
    font-family: 'LeMurmure';
    src: url('/assets/LeMurmure-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --margin: clamp(8px, 1.6rem, 2.4rem);
    --gap: clamp(8px, 1.6rem, 2.4rem);

    --nav-height: clamp(40px, 64px, 80px);


    --logo-size: 3.2rem;
    --blog-title-size: 3.2rem;
    --blog-subhead-size: 2.4rem;
    --label-size: 1.2rem;
    --h-size: 1.6rem;

    --logo: LeMurmure, sans-serif;
    --primary-font: neue-haas-unica, sans-serif;
    --secondary-font: le-monde-livre-std, serif;
}